In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt" #url with formatting to fill in the number of the particular week
    dfs = []
    for week_num in week_nums: #for each week
        file_url = url.format(week_num) #format the url so it grabs that week
        dfs.append(pd.read_csv(file_url)) #append to our empty list
    return pd.concat(dfs) #combine files for each week
        
week_nums = [211002,211009,211016,211023,211030,211106,211113,211120,211127,211204,211211,211218,211225]
df = get_data(week_nums) #use our function to get a df with all of our data

In [3]:
len(df)

2732603

In [4]:
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [5]:
engine = create_engine("sqlite:///mta_data.db", pool_pre_ping=True)

In [6]:
!pwd

/Users/kate/Documents/GitHub/NBM_EDA_Student/resources/get_mta

In [7]:
insp = inspect(engine)
print(insp.get_table_names())

['mta_data']

In [8]:
df = pd.read_sql('SELECT * FROM mta_data;', engine)
df.head(30)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,03:00:00,REGULAR,7672966,2645023
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,07:00:00,REGULAR,7672969,2645040
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,11:00:00,REGULAR,7672991,2645127
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,15:00:00,REGULAR,7673037,2645193
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,19:00:00,REGULAR,7673097,2645270
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,23:00:00,REGULAR,7673128,2645283
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2021,03:00:00,REGULAR,7673141,2645289
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2021,07:00:00,REGULAR,7673146,2645299
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2021,11:00:00,REGULAR,7673153,2645360
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2021,15:00:00,REGULAR,7673179,2645407
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2021,19:00:00,REGULAR,7673218,2645445
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2021,23:00:00,REGULAR,7673245,2645469
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/20/2021,03:00:00,REGULAR,7673254,2645470
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/20/2021,07:00:00,REGULAR,7673256,2645515
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/20/2021,11:00:00,REGULAR,7673289,2645768
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/20/2021,15:00:00,REGULAR,7673355,2645849
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/20/2021,19:00:00,REGULAR,7673522,2645916
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/20/2021,23:00:00,REGULAR,7673565,2645940
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/21/2021,03:00:00,REGULAR,7673573,2645945
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/21/2021,07:00:00,REGULAR,7673576,2645988
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/21/2021,11:00:00,REGULAR,7673599,2646244
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/21/2021,15:00:00,REGULAR,7673669,2646329
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/21/2021,19:00:00,REGULAR,7673831,2646408
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/21/2021,23:00:00,REGULAR,7673874,2646431
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2021,03:00:00,REGULAR,7673883,2646441
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2021,07:00:00,REGULAR,7673887,2646478
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2021,11:00:00,REGULAR,7673918,2646698
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2021,15:00:00,REGULAR,7673965,2646816
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2021,19:00:00,REGULAR,7674148,2646881
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2021,23:00:00,REGULAR,7674188,2646905

In [20]:
#rename columns
df.columns = ['control_area', 'unit','turnstile', 'station','lines','division','date','time','regular','entries','exits', 'net_entries','net_exits','net_traffic']

#take difference between entries/exits from one four-hour period to the next with .diff()
df['net_entries'] = df.entries.diff()
df['net_exits'] = df.exits.diff()
df['net_traffic'] = df.entries.diff() + df.exits.diff()

#delete c/a, unit, linename, division, desc
df.drop(['control_area','unit','lines','division','entries','exits'], axis=1, inplace = True)

,turnstile,station,date,time,regular,net_entries,net_exits,net_traffic
0,02-00-00,59 ST,12/18/2021,03:00:00,REGULAR,NaN,NaN,NaN
1,02-00-00,59 ST,12/18/2021,07:00:00,REGULAR,3.0,17.0,20.0
2,02-00-00,59 ST,12/18/2021,11:00:00,REGULAR,22.0,87.0,109.0
3,02-00-00,59 ST,12/18/2021,15:00:00,REGULAR,46.0,66.0,112.0
4,02-00-00,59 ST,12/18/2021,19:00:00,REGULAR,60.0,77.0,137.0
...,...,...,...,...,...,...,...,...
2732598,00-05-01,RIT-ROOSEVELT,10/01/2021,05:00:00,REGULAR,0.0,0.0,0.0
2732599,00-05-01,RIT-ROOSEVELT,10/01/2021,09:00:00,REGULAR,0.0,0.0,0.0
2732600,00-05-01,RIT-ROOSEVELT,10/01/2021,13:00:00,REGULAR,0.0,0.0,0.0
2732601,00-05-01,RIT-ROOSEVELT,10/01/2021,17:00:00,REGULAR,0.0,0.0,0.0
2732602,00-05-01,RIT-ROOSEVELT,10/01/2021,21:00:00,REGULAR,0.0,1.0,1.0

In [23]:
#make datetime one column
#group by station
pd.readsql('SELECT station, date, net_traffic FROM df GROUP BY station;')

AttributeError: module 'pandas' has no attribute 'readsql'